<div class="row">
  <div class="columns small-4">
    <table class="products hover">
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Actions</th>
      </tr>
      <tr ng-repeat="product in $ctrl.products" ng-click="$ctrl.loadProduct(product.id)">
        <td>{{product.id}}</td>
        <td>{{product.title}}</td>
        <td><span class="fa fa-trash-o" ng-click="$ctrl.deleteProduct(product.id); $event.stopPropagation();"></span><span class="fa fa-pencil"></span> </td>
      </tr>
      <tr>
        <td></td>
        <td><span editable-id="new" editable="$ctrl.newProduct" placeholder="Add new one..." on-change="$ctrl.addNew"></span></td>
        <td></td>
      </tr>
    </table>
    <ul class="pagination">
      <li class="pagination-previous" ng-class="{disabled: $ctrl.page === 1}">Previous</li>
      <li ng-repeat="page in $ctrl.pages" ng-class="{current: $ctrl.page === page}"><a>{{page}}</a></li>
      <li class="pagination-next" ng-class="{disabled: $ctrl.page === $ctrl.totalPages}">Next</li>
    </ul>
  </div>
  <div class="columns small-8">
    <ui-view></ui-view>
  </div>
</div>